@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    font-family: "Roboto", sans-serif;
   max-width: 100%;
}
input{
    height: 40px;
    border-radius: 5px;
    width: 85%;
    border: 1px solid rgb(100, 156, 182);
    background-color: #dff9ff;
    

}
main{
    width: 50%;
    margin: auto;
    padding: 0px 20px;
}
header{
    background-color:#1a8fba;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    padding: 20px 0;
}
label {
 
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}
form{
    background-color:#e7ffff;
    padding: 50px 0px 0px 50px;
    font-size: 20px;
    /* height: 100%; */
    line-height: 50px;
    /* max-width: 100%; */
    
}
.form-group{
    width: 50%;
    float:left;
}
.form-group input{
    width: 70%;
    
}
.Employee input {
 width: 85%;

}
.select input {
width: 27px;
 max-width: 100%;

}

.choose{
    border: 1px solid rgb(100, 156, 182);
    background-color: #dff9ff;
    margin: 0;
    padding: 3px 0px 0px 25px;
     border-radius: 5px;
     height: 45px;
     display: flex;
    margin-top: 20px;
    width: 85%;
    
}
.choose p{
    margin-top: -4px;
    padding: 0px 20px 0px;
}
textarea{
    width: 85%;
    height: 150px;
    border: 1px solid rgb(100, 156, 182);
    background-color: #dff9ff;
    border-radius: 5px;
    
    
}
.save{
    text-align: center;
    
}
.save button{
    height: 60px;
    width: 150px;
    border: 1px solid rgb(100, 156, 182);
    background-color: #5da7b8;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    
}
@media screen and (max-width :1366px){
/* input{
    width: 250px;
    }
.Employee input {
 width: 580px;
 max-width: 100%;
}
.choose{

    width: 580px;
    
}
textarea{
    width: 600px;
} */
}
@media screen and (max-width: 992px){
    .group-x{
        width: calc(100% - 30px);
    }
    .container{
        width: 100%;
    }
}
@media screen and (max-width:768px){

}